.main-nav {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 5px;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  margin: 5px;
  justify-content: space-around;
  text-align: center;
}

.left-nav > ul > li {
  font-family: $sans-serif;
  font-size: 0.6875rem;
  text-transform: none;
}

.right-nav > ul > li {
  font-family: $sans-serif;
  font-size: 0.6875rem;
  text-transform: none;
}

.right-nav > ul > li:last-of-type {
  font-size: 20px;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
  transition: background-color 0.3s;
}

.left-nav span {

}


.right-nav i {

}
